<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <h3 style="text-align: center">Employee Feedback Form</h3>
        <br />
        <br />
        <div class="row">
          <div class="col s5">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input
                type="hidden"
                name="_id"
                #_id="ngModel"
                [(ngModel)]="employeeService.selectedEmployee._id"
              />
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="name"
                    #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.name"
                    placeholder="Enter your name"
                    required
                  />
                  <label
                    >Name
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="id"
                    #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.id"
                    placeholder="Enter your ID"
                  />
                  <label>Emp ID <label class="red-text">*</label> </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="subject"
                    #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.subject"
                    placeholder="Enter Subject"
                  />
                  <label>Subject <label class="red-text">*</label></label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="description"
                    #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.description"
                    placeholder="Enter Description"
                  />
                  <label>Description <label class="red-text">*</label></label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button
                    class="btn btn-custom right"
                    type="button"
                    (click)="resetForm(employeeForm)"
                  >
                    Reset
                  </button>
                  <button
                    class="btn btn-custom right"
                    type="submit"
                    [disabled]="!employeeForm.valid"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
            <br />
          </div>
          <div class="col s7">
            <table class="responsive-table highlight" style="margin-left: 50px">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Emp ID</th>
                  <th>Subject</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let emp of employeeService.employees">
                <td>{{ emp.name }}</td>
                <td>{{ emp.id }}</td>
                <td>{{ emp.subject }}</td>
                <td>{{ emp.description }}</td>
                <td>
                  <a class="action-btn" (click)="onEdit(emp)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a
                    class="action-btn"
                    (click)="onDelete(emp._id, employeeForm)"
                  >
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
